<template>
  <article class=" ">
    <h1>
      {{ doc.title }}
    </h1>
    <nuxt-content :document="doc" />
  </article>
</template>

<script>
export default {
  middleware({ params, redirect }) {
    if (params.slug === "index") {
      redirect("/");
    }
  },
  async asyncData({ $content, store, app, params, error }) {
    const slug = params.slug || "index";
    let doc;
    doc = await $content(slug).fetch();

    return {
      doc
    };
  }
};
</script>
